html,body{

    padding: 0;
    margin: 0;
}

#top{

    width: 100%;
    height: 80px;
    background: rgb(120,1,141);
    color: #fff;
}

#top nav{

    float: left;
    margin-left: 160px;
    width: 80%;
    margin-top: 25px;
}

#top nav a{

    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 17px;
}

#top nav a:hover{

    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

#left{

    width: 10%;
    height: 100vh;
    padding-top: 20px;
    float: left;
    background: rgb(120,1,141);
    text-align: center;
}

.katlista{

    padding: 20px 10px;
    border-bottom: 2px solid #fff;
}

.katlista:hover{

    background: rgb(94,1,110);
    transition: all 0.3s ease;
}

.katlista a{

    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

#right{

    width: 90%;
    float: right;
}

.termekdoboz{

    width: 30%;
    padding: 10px;
    float: left;
    margin: 10px;
    /*border: 1px solid rgb(120,1,141);*/
    box-shadow: 2px 2px 6px rgb(168, 168, 168);
    border-radius: 8px;
    text-align: center;
}

.termekkep{

    width: 60%;
    margin: 0 auto;
}

.termekkep img{

    width: 100%;
    height: 350px;
}

.termeknev{

    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.termekar{

    margin-top: 10px;
    font-size: 18px;
}

.keszlet{

    margin-top: 10px;
}

.termekkosar{

    margin: 28px 0;
    text-align: center;
}

.termekkosar a{

    background: rgb(120,1,141);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px 35px;
    
}

.termekkosar a:hover{

    background: rgb(94,1,110);
    transition: all 0.3s ease;
}

#sort{

    text-align: center;
    font-size: 28px;
    padding: 10px;
}

#sort a{

    margin-left: 20px;
    color: rgb(120,1,141);
    text-decoration: none;
}

#termekkep{

    float: left;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 25px;
}

#termekkep img{

    width: 50%;
    height: auto;
    margin-left: 130px;
}

#termekadatok{
    float: left;
    width: 40%;
    margin-top: 15px;
}

#termeknev{

    margin-bottom: 15px;
}

#termekar{

    margin-bottom: 20px;
}

#termekkosar{

    margin: 40px 0;
}

#termekkosar a{

    background: rgb(120,1,141);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px 35px;
}

#termekkosar a:hover{

    background: rgb(94,1,110);
    transition: all 0.3s ease;
}

#termekhosszu{

    width: 80%;
   text-align: justify;
    clear: both;
    margin-left: 130px;
    
}

#kereses_form{

    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 20px 0;
}

#kereses_form input{

    width: 40%;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    
}

#kereses_form button{

    background: rgb(120,1,141);
    color: #fff;
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
}

#megrendeles_form {

    width: 1200px;
}

#megrendeles_form button{

    background: rgb(120,1,141);
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
}

.admin_kep{

    width: 30px;
    height: 30px;
}

#admin_form{

    width: 600px;
}

#termekkosar i{
    color: #fff;
}

.termekkosar i{
    color: #fff;
}

/* Termékkép nagyítása
.termekkep img:hover{

    transform: scale(1.05);
    transition: all 0.2s ease;
}*/

/* Termékkép nagyítása */
.termekdoboz:hover{

    transform: scale(1.02);
    transition: all 0.2s ease;
    box-shadow: 2px 2px 6px #666;
}
